
body {
	background-color: #b5eece;
}

#canvas {
	background-color: #fff;
	box-shadow: 0px -1px 10px 10px rgba(0,0,0,0.1);
}

#stage {
	width: 90%;
	height: 100%;
	margin: auto;
	margin-top: 1%;
}

#menu {
	text-align: center;
}

.button-label {
	display: inline-block;
	padding: 0.2em 1.2em;
	margin: 0.5em;
	cursor: pointer;
	color: #292929;
	border-radius: 0.2em;
	background: #efefef;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
	transition: 0.3s;
	user-select: none;
}

.button-label h1 {
	font-size: 1em;
	font-family: "Lato", sans-serif;
}

.button-label:hover {
	background: #2ecc71;
	color: #efefef;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
}

.button-label:active {
	transform: translateY(2px);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22);
}

@media (max-width: 40em) {
	.button-label {
		padding: 0em 1em 3px;
		margin: 0.25em;
	}
}

.radio-label:checked + .button-label {
	background: #2ecc71;
	color: #efefef;
}

.radio-label:checked + .button-label:hover {
	background: #29b765;
	color: #e2e2e2;
}

.btnlimpar:hover, .btnlimpar:active {
	background: #d2331b;
	color: #efefef;
}

#limpar:checked + .btnlimpar {
	color: #292929;
	background: #efefef;
}


.hidden {
display: none;
}